body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    padding: 5px;
    display: grid;
    border: 3px solid black;
    width: 450px;
    height: 450px;
    

}

.child {

    border: 1px solid black;

}

.my-color {
    background-color:  blue;
}
